<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.matchingapp3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.BattleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PartyListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TeamCreateActivity"
            android:label="팀 만들기" />
        <activity
            android:name=".activity.UserDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TeamDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.JoinActivity"
            android:label="회원가입" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="로그인" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>